@model List<WorkoutTracker.Models.Workout>
<link rel="stylesheet" href='~/css/style.css' />

<h1>Histórico de Treino</h1>
<hr />

<section class="align-buttons">
	<a class="btn btn-adicionar">Adicionar treino</a>
</section>	

<section class="flex-center">
	<div class="flex-column">
		<div class="boxTreino">
			<p>Treino Peito</p>
			<div class="details">
				<p>Tempo: 00:40</p>
				<p>Data: 12/09/2022</p>
				<p>3 exercícios</p>
				<p>Categoria: Nome da categoria</p>
			</div>
		</div>
	</div>
</section>