@model WorkoutTracker.Models.Category

<link rel="stylesheet" href='~/css/create.css' />
<link rel="stylesheet" href='~/css/Category.css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<h1>Adicionar nova Categoria</h1>
<hr />
<section>
	<a class="btn btn-Voltar" asp-action="Index">Voltar</a>
</section>
<section>
	<div class="centralizar">
		@using (Html.BeginForm("Create", "Categories", FormMethod.Post, htmlAttributes: new { @id = "CategoryForm" }))
		{
			@Html.AntiForgeryToken()
			<div>
				<div class="group">
					@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "input" } })
					<span class="bar"></span>
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "inputTitle" })
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
				<label style="font-weight: 500">Adicione uma cor para a categoria</label>
				<p></p>
				<input id="colorPicker" type="color" value="#002600">
				<span asp-validation-for="Color" class="text-danger"></span>
				<input type="hidden" id="categoryColor" asp-for="Color" value="#002600">
			</div>
			<div style="margin-top:3%;">
				<button type="submit" class="btn btn-adicionar">Avançar</button>
			</div>
		}
	</div>
</section>
@section Scripts{
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="@Url.Content("~/js/CategoryCreate.js")" type="text/javascript"></script>
@{
	await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}