:root {
    --body-bg: #EBEBEB;
    --text-color: #171717;
    --box-bg: #EBEBEB;
    --box-shadow: 9px 9px 27px #acacac, -9px -9px 27px #ffffff;
    --box-shadow-hover: #CFCFCF;
    --box-border: 3px solid #FFFFFF;
    --scroll-bar: #F1F1F1;
    --scroll-bar-thumb: #C1C1C1;
    --scroll-bar-active: #9B9B9B;
    --btn-adicionar: #014d22;
    --btn-adicionar-hover: #01c657;
    --btn-estatistica: #350347;
    --btn-estatistica-hover: #9447af;
    --neumorphism: 26px 26px 52px #999999, -26px -26px 52px #ffffff;
    --border-boxSelecao: 3px solid #6f6f6f;
    --buttonSetsReps: #282936;
}

.darkmode:root {
    --body-bg: #171717;
    --text-color: #e6e6e6;
    --box-bg: #171717;
    --box-shadow: 9px 9px 27px #090909, -9px -9px 27px #252525;
    --box-shadow-hover: #272626;
    --box-border: 2px solid #8D8D8D;
    --scroll-bar: #272626;
    --scroll-bar-thumb: #474747;
    --scroll-bar-active: #302E2E;
    --btn-adicionar: #003417;
    --btn-adicionar-hover: #008B3D;
    --btn-estatistica: #350347;
    --btn-estatistica-hover: #9447af;
    --neumorphism: 26px 26px 52px #0f0f0f, -26px -26px 52px #1f1f1f;
    --border-boxSelecao: 3px solid #8D8D8D;
    --buttonSetsReps: #74779D;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--body-bg);
    color: var(--text-color);
}

.my-navBar {
    background: #002600 !important;
    border-color: black !important;
    font-family: sans-serif;
}

    .my-navBar .navbar-brand {
        color: #e6e6e6;
    }

    .my-navBar .nav-link {
        color: #e6e6e6;
    }

::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-bar);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-thumb);
}

    /* Handle on active */
    ::-webkit-scrollbar-thumb:active {
        background: var(--scroll-bar-active);
    }

.btn-adicionar {
    overflow: hidden;
    position: relative;
    background-color: var(--btn-adicionar);
    color: white;
}

    .btn-adicionar:hover {
        background-color: var(--btn-adicionar-hover);
        color: white;
    }

    .btn-adicionar:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -85px;
        opacity: .4;
        position: absolute;
        top: -60px;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 70px;
        z-index: 1;
    }

    .btn-adicionar:hover:after {
        left: 130%;
        -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    }
/* From uiverse.io by @TimTrayler */
.switch {
    --secondary-container: #3a4b39;
    --primary: #84da89;
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 21px;
}

    .switch input {
        display: none;
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #313033;
    transition: .2s;
    border-radius: 30px;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 15px;
        width: 15px;
        border-radius: 20px;
        left: 0.2em;
        bottom: 0.2em;
        background-color: #aeaaae;
        transition: .4s;
    }

input:checked + .slider::before {
    background-color: var(--primary);
}

input:checked + .slider {
    background-color: var(--secondary-container);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-container);
}

input:checked + .slider:before {
    transform: translateX(19px);
}
.lightDarkMode {
    color: #e6e6e6;
    margin-right:10px;
    vertical-align:super;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px var(--body-bg) inset;
}

/* Cor do texto do autocomplete */
input:-webkit-autofill {
    -webkit-text-fill-color: var(--text-color) !important;
}
