

.flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 3%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.boxTreino {
    cursor: default;
    padding: 3%;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    background: var(--box-bg);
    box-shadow: var(--box-shadow);
    border: var(--box-border);
    transition: all 0.5s;
    overflow: hidden;
    margin-bottom: 15%;
}

    .boxTreino:hover {
        background: var(--box-shadow-hover);
        height: 240px;
    }

    .boxTreino:last-child {
        margin-bottom: 0;
    }

    .boxTreino p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.exercicios {
    cursor: pointer;
    transition: all 0.4s
}

    .exercicios:hover {
        color: green;
    }

.fa-pen {
    cursor: pointer;
    color: #3D3D3D;
    transition: 0.3s
}

    .fa-pen:hover {
        color: #747474;
    }

.details {
    padding-left: 10px;
    text-align: left;
}
section a{
    margin-right:1%;
}
section a:last-child {
    margin-right:0px;
}
.btn-estatistica {
    overflow: hidden;
    position: relative;
    background-color: var(--btn-estatistica);
    color: white;
}

    .btn-estatistica:hover {
        background-color: var(--btn-estatistica-hover);
        color: white;
    }

    .btn-estatistica:after {
        background: #fff;
        content: "";
        height: 155px;
        left: -85px;
        opacity: .4;
        position: absolute;
        top: -60px;
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
        -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
        width: 70px;
        z-index: 1;
    }

    .btn-estatistica:hover:after {
        left: 130%;
        -webkit-transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 850ms cubic-bezier(0.19, 1, 0.22, 1);
    }
